<div class="speaks_box">
  <% @speaks.each do |speak|%>
    <%= link_to speak_path(speak.id) do %>
      <div class="speak_box">
        <div class="speak_subject">
        【<%= speak.subject%>】
        </div>
        <div class="speak_voice">
          <%= speak.voice %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>