<h2>Your Favorite Questions</h2>

<div class="favorite_questions">
  <% current_user.favorite_questions.each do |question| %>
    <div class="favorite_question">
      <%= link_to question_path(question), class:"favorite-question" do %>
        <%= question.title %>
      <% end %>
    </div>
  <% end %>
</div>