<%= render "shared/header_question" %>

<div class="home_menu">
  <div class="to_cast_box">
    <%= link_to new_speak_path, class:"to_cast" do%>
      <p class="to-cast">CAST<br>VOICES</p>
    <% end %>
  </div>
  <div class="to_post_box">
    <%= link_to questions_path, class:"to_post" do%>
      <p class="to-post">POST<br>QUESITONS</p>
    <% end %>
  </div>
</div>

<%= render "shared/footer_question" %>