/* 以下、speak/views/new.html.erb */

.speak_header{
  text-align: center;
  font-size: 40px;
  font-style: bold;
  margin-top: 40px;
  /* border: solid 1px black; */
}

.speak_container{
  height: 75vh;
}

/* .voice_container{ */
  /* border: solid 1px black; */
/* } */

.voice_header{
  text-align: center;
  font-size: 30px;
  font-style: bold;
  margin-top: 50px;
}

/* .speak-form{ */
  /* margin-top: 5px; */
/* } */

.speak-subject{
  text-align: center;
  margin-top: 15px;
  font-size: 20px;
  width: 200px;
}

.speak-voice{
  /* text-align: center; */
  margin-top: 16px;
  font-size: 20px;
  width: 400px;
}

.speak-btn{
  border: none;
  color: white;
  background-color: lightseagreen;
  font-size: 20px;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}

/* 以上、speak/views/new.html.erb */



.speaks_box{
  height:75vh
}

.speak_box{
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  width: fit-content;
  padding: 10px;
  margin: 10px;
}

.speak_subject{
  border: solid 1px red;
  width: fit-content;
  text-align: left;
}

.speak_voice{
  border: solid 1px lightseagreen;
}

.speak-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}