/* 以下、speak/views/new.html.erb */

.speak_header{
  font-family:Georgia, 'Times New Roman', Times, serif ;
  background: linear-gradient(to bottom, rgba(101, 199, 206, 0.973),rgb(144, 187, 187) 70%, rgb(175, 233, 214));
  height: 120px;
}

.speak_show_container{
  height: 75vh;
  overflow: scroll;
}
  
.speak_title{
  text-align: center;
  font-size: 30px;
  font-style: bold;
  margin-top: 40px;
}

.speak_container{
  /* height: 75vh; */
  /* overflow: scroll; */
}

.voice_header{
  text-align: center;
  font-size: 30px;
  font-style: bold;
  margin-top: 50px;
}

.speak-subject{
  margin-top: 15px;
  font-size: 18px;
  width: 200px;
}

.speak-voice{
  margin-top: 16px;
  font-size: 18px;
  width: 80%;
}

.tag_list{
  margin-top: 10px;
}

.tag-list{
  font-size: 18px ;
  width: 100%;
}

.speak-btn{
  border: none;
  color: white;
  background-color: lightseagreen;
  font-size: 20px;
  padding: 7px;
  border-radius: 4px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.8);
  margin-top: 20px;
}

/* 以上、speak/views/new.html.erb */

/* 以下、speak/views/index.html.erb */

.speaks_under_header{
  color: rgb(35, 45, 192);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  border-bottom: solid 2px black;
}

.speaks_box{
  height:75vh;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.speaks_box_left{
  width: 25%;
  /* margin-right: 60px; */
  border: solid 2px tomato;
}

.speaks_box_center{
  /* margin: 20px; */
  padding: 20px;
  overflow: scroll;
  border: solid 2px blue;
}

.speak-box{
  text-decoration: none;
}

.speak_box{
  border: solid 1px black;
  display: flex;
  flex-direction: column;
  text-align: left;
  /* width: fit-content; */
  color: black;
  padding: 10px;
  margin: 10px;
}

.speak_subject{
  width: fit-content;
  text-align: left;
}

.speak_voice{
  /* border: solid 1px lightseagreen; */
}

.speak-form{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: solid 2px black;
}

.speaks_box_right{
  width: 25%;
  padding: 20px;
  border: solid 2px coral;
}

.tag-index{
  margin-right: 40px;
}

.footer_speak{
  font-family:Georgia, 'Times New Roman', Times, serif ;
  background: linear-gradient(to bottom, rgb(243, 145, 161),rgb(247, 174, 186) 30%, rgb(241, 155, 210));
  font-size: 22px;
  bottom: 0 ;
  text-align: center;
  height: 120px;
  display: flex;
  justify-content:space-around;
  align-items:center;
}